[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
dj_database_url = "*"
django-heroku = "*"
djangorestframework = "*"
certifi = "*"
distlib = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-rest-framework = "*"
djangorestframework = "*"
filelock = "*"
gunicorn = "*"
my-package = "*"
pipenv = "*"
platformdirs = "*" 
psycopg2 = "*"
python-decouple = "*" 
python-dotenv = "*"
pytz = "*"
sqlparse = "*"
typing-extensions = "*" 
virtualenv = "*"
virtualenv-clone = "*" 
whitenoise = "*"




[dev-packages]

[requires]
python_version = "3.11.4"
